.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  height: 4rem;
  border-bottom: 2px solid $color-dark400;
  //   border-bottom: 1px solid $color-dark400;

  &_menu {
    width: 40%;
    display: flex;
    align-items: center;
  }

  &_list {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
  }

  &_item {
    margin-left: 1.5rem;
    a {
      text-decoration: none;
      color: $color-dark50;
      font-weight: 500;
      font-size: $font-size-p;

     
    }
  }

  .nav_btn {
    margin-left: 1.5rem;

  }

  &_welcome {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: $color-dark50;
      font-weight: 500;
      font-size: $font-size-p;
    }

    svg {
      margin-right: 1rem;
    }
  }
}
