body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-dark600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
}

p,
link,
a,
button,
span,
label, th, td, th {
  font-family: 'Karla', sans-serif;
}

li {
  list-style: none;
}
