body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif; }

p,
link,
a,
button,
span,
label {
  font-family: "Lora", serif; }

a, link {
  text-decoration: none; }

li {
  list-style: none; }
